@model IEnumerable<Comment>

<ul>
    @if (Model != null)
    {
        @foreach (Comment item in Model)
        {
            <li>
                @item.Text
                <a href="~/Comments/Create/@item.Id"> Answer </a>
                @if (Model.Where(t => t.ParentID == item.Id) != null)
                {
                    Html.RenderPartial("~/Views/Comments/List.cshtml", Model.Where(t => t.ParentID == item.Id));aadasdw
                }
            </li>
        }
    }
</ul>