@model BashParserCore.Models.Post

@{
    ViewData["Title"] = "AccessError";
}

<h2>AccessError</h2>
You don't have access to this action. 
Please sign in under suitable account.
<div>
    <a asp-action="Index">Back to List</a>
</div>

